body {
            scroll-behavior: smooth;
        }

        h1 {
            text-align: center;
        }

        section {
            padding: 60px 0;
        }

        .hero {
            background: #f8f9fa;
            text-align: center;
            padding: 100px 20px;
        }

        .caption>h4 {
            font-weight: bold;
        }

        .caption {
            width: 350px;
            padding: 10px;
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 20%;
        }

        footer {
            background: #212529;
            color: white;
            padding: 20px;
            text-align: center;
        }   